*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.texto{
    font-size: 40px;
    font-family: bold italic;
}

.correo, .password{
    font-family: bold italic;
}

.box{
    position: relative;
    width: 250px;
    margin-top: 20px;
}

.box input{
    width: 100%;
    padding: 10px;
    border: 2px solid #39a900;
    background: #fff;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

.box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.box input:valid ~ span,
.box input:focus ~ span{
    color: black;
    transform: translateX(10px) translateY(-9px);
    font-size: 1.0em;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid #80F461;
    border-right: 1px solid #80F461;
}

.box input:valid ~ span,
.box input:focus ~ span{
    background: #80F461;
}

.box input:valid,
.box input:focus{
    border: 1px solid #385C57;
    color: black;
}

.boton button{
    margin-top: 20px;
    justify-content: center;
    padding: 10px 30px;
    border: 2px solid #39a900;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 25%;
    background-color: #39a900;
}

.boton button:hover{
    letter-spacing: 0.25em;
    background: rgb(189, 236, 182);
    color: black;
}

.botonx{
    font-family: 'bold italic';
    font-size:30px;
    border: 1px solid #39a900;
    border-radius: 0%;
    background: #39a900;
    border-radius: 50%;
}

.botonx:hover{
    letter-spacing: 3px;
    background: #a2ec7d;
    color: black;

}

.barraAbajo{
    background-color: #39a900;
    color: #39a900;
    bottom: -8px;
    position: fixed;
    width: 100%;
}

.barraArriba{
    background-color: #39a900;
    color: #39a900;
    top: 0;
    position: fixed;
    width: 100%;
}

.barraAbajo2{
    background-color: #39a900;
    color: #39a900;
    bottom: -8px;
    right: 0px;
    position: fixed;
    width: 100%;
}

.barraArriba2{
    background-color: #39a900;
    color: #39a900;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
}


